@model IEnumerable<RabApiWithMvc.Models.SaleOrder>

@{
    ViewBag.Title = "GetAllSealsOrders";
    DateTime Lfrom ;
    Lfrom = DateTime.MinValue;
    DateTime Lto;
    Lto = DateTime.UtcNow;
    
}

<h2>GetAllSealsOrders</h2>
@Html.TextBox("clinteIDtext")
@Html.ActionLink("select", "GetAllSealsOrders", "Reports", new { from = Lfrom, to = Lto, clintId = 1  }, null)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClntName)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.SlOrdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymantType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Debit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creditor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingStats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClntName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SlOrdDate)
        </td>
        <td>
            @{
                string pType = "";
                if ((item.PaymantType) == 1)
                {
                    pType = "نقدى";
                }
                else
                {
                    pType = "اجل";
                }
            }
            @pType
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creditor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingStats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
     
      
    </tr>
}

</table>
