@model RabApiWithMvc.Models.GLAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GLAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlCreditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlCreditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLDebit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLDebit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GLAccId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
